@tailwind base;
@tailwind components;
@tailwind utilities;

.text {
  font-family: 'Source Sans Pro', sans-serif;
}

.hover-2 {
    --h: 1.2em;  
    line-height: var(--h);
    color: #0000;
    text-shadow: 
      0 var(--_t,var(--h)) #fff,
      0 0 var(--_c,#000);
    background: 
      linear-gradient(#861eac 0 0) 
      bottom/100% var(--_d, 0) no-repeat;
    overflow: hidden;
    transition: 0.3s;
  }
  .hover-2:hover {
    --_d: 100%;
    --_t: 0;
    --_c: #0000;
  }

@layer components {
    .sidebar-icon{
      @apply relative flex items-center justify-center h-12 w-12
             mt-2 mb-2 mx-auto shadow-lg
             bg-gray-800 text-gray-200
             hover:bg-slate-300
             rounded-3xl hover:rounded-xl
             transition-all duration-300 ease-linear
             cursor-pointer
             ;
    }
    .Pointer {
      @apply transition-all duration-100 ease-linear
             cursor-pointer after:bg-slate-600 after:font-bold
             hover:underline
    }

    .Mobileview {
      @apply text-xs

    }
    .mobileicons {
      @apply flex 
    }

  }